.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 15px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
}

.title {
  color: #333333;
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.subtitle {
  position: relative;
  color: #444444;
  font-size: 1.8rem;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.subtitle::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 50px;
  transform: translateX(-50%);
}

.topParagraph {
  margin-bottom: 40px;
}

.paragraph {
  margin-bottom: 20px;
}

.buttonRow {
  margin-bottom: 60px;
}

.button {
  background-color: #70868A;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  margin: 0 auto;
  margin-right: 15px;
}

.button:hover {
  background-color: #81A0AA;
}

.secondaryButton {
  background-color: transparent;
  color: #7C947F;
  border: 2px solid #4E6652;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

.secondaryButton:hover {
  background-color: #e6f0ff;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.first {
  margin-bottom: 20px;
}

.sectionReverse {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}

.sectionImage {
  position: relative;
  flex: 0 0 auto;
  margin-right: 20px;
}

.sectionImage::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% + 15px);
  width: calc(100% + 15px);
  border: 1px solid #333333;
  border-radius: 6px;
  background-color: #333333;
  transform: translate(-50%, -50%) rotate(5deg);
  opacity: 0.08;
  z-index: -1;
}

.sectionContent {
  flex: 1 1 auto;
  text-align: left;
}

@media (max-width: 480px) {
  .container {
    padding: 10px 5px;
    width: 100%;
    max-width: none;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 2px;
  }

  .subtitle {
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .topParagraph {
    margin-bottom: 20px;
  }

  .paragraph {
    margin-bottom: 15px;
    font-size: 0.9rem;
  }

  .buttonRow {
    margin-bottom: 30px;
  }

  .button,
  .secondaryButton {
    font-size: 0.9rem;
    padding: 10px;
    margin: 5px auto;
    max-width: 100%;
  }

  .section,
  .sectionReverse {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .first {
    margin-bottom: 10px;
  }

  .sectionImage {
    margin-right: 0;
    margin-bottom: 5px;
    max-width: 80%;
  }

  .sectionImage::before {
    height: calc(100% + 10px);
    width: calc(100% + 10px);
  }

  .sectionContent {
    text-align: center;
    margin-top: 0.3em;
  }
}