.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  position: relative;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.subtitle::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: white;
  opacity: 0.15;
}

.topParagraph {
  margin-bottom: 60px;
}

.link {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px 10px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.link svg {
  display: initial;
  margin-top: -1px;
  margin-right: 15px;
}

.link svg path {
  transition: stroke 0.25s ease-in-out;
}

.link:hover {
  background-color: white;
  color: black;
}

.link:hover svg path {
  stroke: black;
}

.buttonRow {
  margin-bottom: 80px;
}

.button {
  background-color: #70868A;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  margin: 0 auto;
  margin-right: 15px;
}

.button:hover {
  background-color: #81A0AA;
}

.secondaryButton {
  background-color: transparent;
  color: #81A0AA;
  border: 2px solid #81A0AA;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

.secondaryButton:hover {
  background-color: #e6f0ff;
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
}

.first {
  margin-bottom: 30px;
}

.sectionReverse {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}

.sectionImage {
  position: relative;
  flex: 0 0 auto;
  margin-right: 30px;
}

.sectionImage::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% + 15px);
  width: calc(100% + 15px);
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
  transform: translate(-50%, -50%) rotate(5deg);
  opacity: 0.08;
  z-index: -1;
}

.sectionImage img {
  border-radius: 6px;
}

.sectionContent {
  flex: 1 1 auto;
  text-align: left;
}