.mainContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.contentContainer {
  z-index: 10;
  width: 100%;
  max-width: 42rem;
  font-family: monospace;
  font-size: 0.875rem;
  position: relative;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 167.2%; /* 2523 / 1509 * 100 - maintains aspect ratio */
}

.imageContainer > span {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.buttonContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}

.rsvpButton {
  composes: button;
  top: 46%;
  left: 43%;
  width: 15%;
  height: 5%;
}

.directionsButton {
  composes: button;
  top: 52%;
  left: 35%;
  width: 31%;
  height: 5%;
}

.scheduleButton {
  composes: button;
  top: 58%;
  left: 37%;
  width: 28%;
  height: 5%;
}

.stayButton {
  composes: button;
  top: 64%;
  left: 29%;
  width: 43%;
  height: 5%;
}

/* Mobile styles */
@media (max-width: 768px) {
  .mainContainer {
    padding: 0;
  }

  .contentContainer {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainer {
    height: 100%;
    width: 95%;
    padding-top: 0;
  }

  .imageContainer > span {
    position: relative !important;
  }

  .imageContainer img {
    object-fit: contain !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 100vh;
  }

  /* Adjusted button styles for mobile */
  .directionsButton,
  .scheduleButton,
  .stayButton {
    height: 3.5%; /* Reduced height */
  }

  .directionsButton {
    top: 52%; /* Moved up */
  }

  .scheduleButton {
    top: 58.5%; /* Moved up */
  }

  .stayButton {
    top: 64.5%; /* Moved up */
  }
}