.mainContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.contentContainer {
  width: 100%;
  max-width: 42rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vw * (2523 / 1509)); /* Based on image aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper > span {
  position: relative !important;
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
}

.imageWrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

.rsvpButton {
  composes: button;
  top: 46%;
  left: 43%;
  width: 15%;
  height: 5%;
}

.directionsButton {
  composes: button;
  top: 52%;
  left: 35%;
  width: 31%;
  height: 5%;
}

.scheduleButton {
  composes: button;
  top: 58%;
  left: 37%;
  width: 28%;
  height: 5%;
}

.stayButton {
  composes: button;
  top: 64%;
  left: 29%;
  width: 43%;
  height: 5%;
}

@media (max-width: 768px) {
  .contentContainer {
    max-width: 100%;
  }

  .imageWrapper {
    width: 95%;
  }
}